a.digg-login-button {
  text-indent: -9999px;
  display: block;
  height: 34px;
  width: 121px;
  background-image: url(digg_login.png);
}

.digg-login-center .digg-login-button {
  margin-left: auto;
  margin-right: auto;
}